{% extends 'base.html' %}
{% block content %}
<!--Hero Image-->

<!--Main content-->
<div class="container-fluid">
    <div class="row">
        <div class="col 4 border">
            <h2>Welcome to Emma's website</h2>
            <p>Here we have so much information</p>
        </div>
        <div class="col-4">
            {% include 'home/random_service.html' %}
            <div class="row border h-100">
                <h2>Sign up for an account!</h2>
                <p>Get some loyalty rewards</p>
            </div>
            <div class="row border h-100">
                <h2>Testimonials</h2>
                <p>Highlights of what people have said</p>
            </div>
        </div>
        <div class="col-4 border">
            <h2>Know a date? Check availability</h2>
            <p>Calendar</p>
        </div>
        </div>
    </div>
</div>

{% endblock %}