{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'home/css/homepage.css' %}">
{% endblock %}
{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          hiddenDays: [0],
          selectable: true,

          events: '{% url "calendar_feed" %}',

          select: function(start, end, alldays) {
            window.location.href = 'appointments/calendar_detail';
          }
        });
        calendar.render();
      });
</script>
{% endblock %}
{% block extra_title %}
Homepage
{% endblock %}
{% block content %}
<!--Hero Image-->

<!--Main content-->
<div class="row">
    <div class="col-6">
        <img class="homepage-image" src="{{ MEDIA_URL }}homepage_lavender.jpg" alt="candles on a table">
        </div>
    <div class="col-6 border">
            <h2>Welcome to Emma's website</h2>
            <p>Here we have so much information</p>
        </div>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            {% include 'home/random_service.html' %}
            <div class="row border h-100 home-box">
            {% if user.is_authenticated %}
                <h2>Welcome {{ request.user.first_name }}</h2>
                <p>You have {{ closest_appointment.service.name }} coming up.</p>
            {% else %}
                <h2>Sign up for an account!</h2>
                <p>Get some loyalty rewards</p>
            {% endif %}
            </div>
            <div class="row border h-100 home-box">
                <h2>Testimonials</h2>
                <p>Highlights of what people have said</p>
            </div>
        </div>
        <div class="col-6 border home-box">
            <h2>Know a date? Check availability</h2>
            <br>
            <div id="calendar"></div>
        </div>
        </div>
    </div>
</div>

{% endblock %}