.booking-button {
    display: block !important;
    background-color: #EABE7C !important;
    width: 100% !important;
}

.card-buttons {
    display: list-item;
    gap: 2px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .card-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
}