.booking-button {
    display: block !important;
    background-color: #EABE7C !important;
    width: 100% !important;
}

.card-buttons {
    display: list-item;
    gap: 2px;
    width: 100%;
}

.user-buttons {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}