{% extends 'base.html' %}

{% load static %}

{% block extra_js %}
<script>
    window.AppUrls = {
        calendarFeed: "{% url 'calendar_feed' %}",
    };
</script>
<script src="{% static 'appointments/js/calendar.js' %}"></script>
{% endblock %}

{% block extra_title %}
Appointments
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8" id="calendar"></div>
        <div class="col-4">
            <h2>All Bookings:</h2>
            {% for booking in bookings %}
            <div class="row">
                <div class="col">
                    <h3>{{ booking.service.name }} with {{ booking.user_name }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ booking.appointment_date }} at {{ booking.appointment_time }}</p>
                </div>
            </div>
            {% endfor %}
    </div>
    </div>
</div>
{% endblock %}