/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* CSS Font Variables */

:root {
    --primary-font: "Mukta", sans-serif;
}

/* CSS Colour variables, hexes provided by Coolors */

:root {
    --earth-yellow: #EABE7C;
    --midnight-green: #07393C;
    --eggplant: #74546A;
    --china-rose: #B56576;
    --silver-lake-blue: #6290C8;
}

/* Global Styles */

body {
    font-family: var(--primary-font);
    color: var(--china-rose);
}

/* Nav Bar Styles */

.navbar-style {
    background-color: var(--midnight-green) !important;
    color: var(--eggplant) !important;
}


