{% extends 'base.html' %}
{% load static %}
{% block extra_title %}
Services
{% endblock %}
{% block content %}
<div class="row text-center service-header">
    <div class="col">
        <h2>Check out my services!</h2>
    </div>
        {% if user.is_superuser %}
    <div class="col">
        <a type="button" class="btn btn-primary" href="{% url 'add_new_service' %}">Add a new service</a>
    </div>
        {% endif %}
</div>
<div class="container">
    <div class="row">
        {% for service in services %}
        <div class="col">
            <h2>{{ service.category }} : {{ service.name }}</h2>
            <p>{{ service.description }}</p>
            <p>{{ service.get_friendly_timeframe }}</p>
            <p>£{{ service.price }}</p>
            <a class="btn btn-primary" href="{% url 'add_appointment' service.id %}">Book Now</a>
        {% if user.is_superuser %}
            <a class="btn btn-secondary" href="{% url 'edit_service' service.id %}">Edit Service</a>
            <a class="btn btn-danger" href="{% url 'delete_service' service.id %}">Delete Service</a>
           
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock %}
