{% extends 'base.html' %}
{% load static %}
{% block extra_title %}
Services
{% endblock %}
{% block content %}
<div class="row text-center service-header">
    <div class="col">
        <h2>Check out my services!</h2>
    </div>
        {% if user.is_staff %}
    <div class="col">
        <a type="button" class="btn btn-primary" href="{% url 'add_new_service' %}">Add a new service</a>
    </div>
        {% endif %}
</div>
<div class="container">
    <div class="row">
        {% for service in services %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ service.price }}</h6>
                        <p class="card-text">{{ service.description }}</p>
                        <a class="btn btn-primary" method="POST" href="{% url 'add_appointment' service.id %}">Book Now</a>
                        {% if user.is_staff %}
                        <a class="btn btn-secondary" method="POST" href="{% url 'edit_service' service.id %}">Edit Service</a>
                        <a class="btn btn-danger" href="{% url 'delete_service' service.id %}">Delete Service</a>
                    </div>
                </div>           
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock %}
